 #body_shop_productos{
  display: flex;
  max-width: fit-content;
  flex-wrap: wrap;
 }
 .list_producto_estado{
  display: none;
 }
 .list_producto:hover  .list_producto_estado{
  display: initial;
 }
 .list_producto:hover  {
  cursor:pointer;
  scale: 1.2;
  background-color: white;
  font-weight: bold;
  z-index: 5;
}

 .list_producto{
  height: max-content;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px black solid;
  border-radius: 20px;
 
  text-align: center;
}
.div_img *{
  border-bottom: 1px black solid;
  width: 150px;
  height:150px;
}
.div_img swiper-button-prev{
  width: 5%;
  height: 5%;
}
  .details_producto_body > div{
    display: inline;
  }
 .ico_details{
  width: 5%;
  height: 5%;
 }
 #details_productos{
    display: flex;
  }
  #details_productos > *{
    margin: auto;
  }
  .carusel_details_imagenes img{
    width: 100%;
  height: 100%;
  }
  .details_producto_body{
    width:40vw;
  }
  .details_producto_img{
    width: 30vw;
  }

  .carusel_details_imagenes,.carusel_details_imagenes_bottom{
    /* margin-right: 100px ; */
    width: auto;
  }
  .carusel_details_imagenes {
    /* margin-right: 100px ; */
    width: 100% ;

  }
  .details_producto_especificacion *{
    display: inline-flex;
  }
  .details_producto_body{
    margin-top: 2% !important;
    padding: 2px;
    /* border: 1px black solid;
    border-radius: 20px; */
  }
  .details_producto_body p{
    padding: 5px;
    margin-bottom: 5px;
    font-size:2vw;
  }
  .details_producto_carusel_imagen{
    max-width: max-content;
  }

  .details_producto_carusel_imagen_bottom img{
  width: 100%;
  height: fit-content;
  object-fit: cover;
  }
  .details_producto_carusel_imagen_bottom {
    width: 20% !important;
    height: 20% !important;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.6;
  }

  .carusel_details_imagenes_bottom{
    margin-left: auto;
    margin-right: auto;
    height: auto;
    /* width: 500px; */
  }
  .carusel_details_imagenes_bottom .swiper-slide-thumb-active {
    opacity: 1;
  }